embed {
	width: 100%;
	height: 100%;
}

#hiddenBillHeader {
	display: none;
}

#hiddenBill {
	display: none;
}

.performance {
	color: #999;
	cursor: pointer;
}

.animal {
	color: #999;
	cursor: pointer;
}

.selected {
	color: rgb(70, 78, 90);
}