em {
	font-style: normal;
	font-weight: bold;
}

#tabulations {
	width: 100%;
	height: calc(100% - 40px);
}

#tabs {
	height: 25px;
	font-size: 1.5em;
	border-bottom: 2px solid #067ad1;
}

.tab {
	display: inline-block;
	padding: 0 30px 0 30px;
	cursor: pointer;
	position: relative;
}

.tab:before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #067ad1;
}

.tab:hover {
	background-color: #1c97ea;
	color: white;
}

#tabs .selected {
	background-color: #067ad1;
	color: white;
}

#content {
	padding: 10px;
	height: calc(100% - 27px);
	box-sizing:border-box;
}

.box {
	box-sizing:border-box;
	/*margin:	10px;*/
	margin: 5px;
	padding: 10px;
	width: calc(50% - 10px);
	height: calc(50% - 10px);
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
	position: relative;
}

.line {
	box-sizing:border-box;
	margin:	5px;
	padding: 10px;
	width: calc(100% - 10px);
	height: calc(50% - 10px);
	border: 1px solid #ccc;
	overflow-y: auto;
	position: relative;
}

.col {
	box-sizing:border-box;
	margin:	5px;
	padding: 10px;
	width: calc(50% - 10px);
	height: calc(100% - 10px);
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
	position: relative;
}

.fullBox {
	box-sizing:border-box;
	margin:	5px;
	padding: 10px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: 1px solid #ccc;
	overflow-y: auto;
	position: relative;
}

.two-cols {
	display: inline-block;
	width: 50%;
	position: relative;
	vertical-align: middle;
	margin: 5px 0 5px 0;
}

.two-cols input[type="text"], .two-cols input[type="date"], .two-cols input[type="number"] {
	width: 100%;
	box-sizing: border-box;
}

.three-cols {
	display: inline-block;
	width: 33.33%;
	position: relative;
	vertical-align: top;
	margin: 5px 0 5px 0;
	height: 100%;
}

.one-col {
	width: 100%;
}

.center {
	text-align: center;
}

.view {
	display: none;
	width: 100%;
	height: 100%;
}

.line-breaks {
	white-space: pre-line;
}

.top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.full-height {
	height: 100%;
	vertical-align: top;
}

#custom-popup-background {
	width: 100%;
	height: 100%;
	z-index: 50;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.7);
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-family: arial;
	color: rgb(70, 78, 90);
	cursor: pointer;
}

.set-content {
	background-color: white;
	border: 1px solid #ddd;
	width: 50%;
	height: 80%;
	position: absolute;
	padding: 20px 10px 20px 10px;
	box-sizing: border-box;
}

.needed:after {
	content: "*";
	color: red;
	padding-left: 5px;
}

input[type="text"] {
	padding-left: 3px;
}