.set-menu, .set-data {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.set-menu {
	width: 20%;
	color: #999;
	cursor: pointer;
	padding-left: 10px;
	padding-top: 20px;
}

.set-menu-item {
	padding: 10px 0 10px 0;
}

.set-menu .selected {
	color: rgb(70, 78, 90);
	cursor: default;	
}

.set-data {
	width: 80%;
	padding-left: 50px;
	padding-top: 10px;
}

.bottom {
	position: absolute;
	bottom: 20px;
	left: 0;
}

#panel-setting .center {
	width: 100%;
	text-align: center;
}

.set-data h3 {
	border-bottom: 1px solid #ddd;
	font-size: 1.3em;
	width: 100%;
	font-weight: normal;
	padding-bottom: 10px;
	font-family: 'DejaVu Sans', Arial, sans-serif;
}